@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,700&display=swap');
body{
  margin:0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a.h1-logo {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.cursor{
  display: inline-block;
  width: 10px;
  height: 19px;
  background: #fe5186;
  margin-left: 4px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}
.faisal-photo{
  background-image: url('../images/logo.jpg');
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  background-size: contain;
  margin-right: 6px;
}
@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
pre {
  padding: 10px 10px;
}
code[class*="language-"] {
  background: transparent;
  box-shadow: none;
}
.center {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
span.tag {
  padding: 5px 8px;
  background: #6375ad;
  margin-right: 7px;
  color: #fff;
  border-radius: 7px;
}
footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 0;
}
.btn-header {
  cursor: pointer;
  position: relative;
  top: 5px;
}
.post-img {
  margin-top: 25px;
  text-align: center;
}
.flex-post {
  display: flex;
  flex-wrap: wrap;
}
.post-item {
  width: calc(50% - 14px);
  margin: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tags {
  display: block;
  margin-top: 15px;
  text-align: left;
}
.post-content {
  padding: 12px;
  padding-bottom: 20px;
}

.post-content h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 23px;
}




/* Dark */
body.dark-theme {
  background-color: #292a2d;
  color: #efefef;
}
.dark-theme header{
  background:#252627;
}
.dark-theme a.h1-logo {
  color: #fff;
}

.dark-theme pre {
  background: #2f2f2f;
}
.dark-theme code[class*="language-"] {
  color: white;
}
.dark-theme footer {
  background: #252627;
}
.dark-theme header path {
  fill: #ffaa2b;
}
.dark-theme a {
  color: #fe5186;
}
.dark-theme .post-item {
  background-color: #252627;
}




/* Light */
body.light-theme {
  background-color: #fff;
  color: #252627;
}
.light-theme header{
  background:#fafafa;
}
.light-theme a.h1-logo {
  color: #252627;
}
.light-theme pre {
  background: #f5f5f5;
}
.light-theme code[class*="language-"] {
  color: #000;
}
.light-theme .token.selector,.light-theme .token.attr-name,.light-theme .token.string,.light-theme .token.char,.light-theme .token.builtin {
  color: #97973b;
}
.light-theme footer {
  background: #fafafa;
}
.light-theme a {
  color: #fe5186;
}
.light-theme .post-item {
  background-color: #fafafa;
}




/* tags */
span.tag.tag-css{
  background: #b73aa8;
  color: #fff;
}
span.tag.tag-reactjs{
  background: #61dbfb;
  color: #000;
}
span.tag.tag-node{
  background: #68a063;
  color: #fff;
}
span.tag.tag-html{
  background: #a06e23;
  color: #fff;
}
span.tag.tag-php{
  background: #211fa9;
  color: #fff;
}
span.tag.tag-laravel{
  background: #ff2d20;
  color: #fff;
}
span.tag.tag-symfony{
  background: #7aba20;
  color: #fff;
}
span.tag.tag-graphql{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-graphql{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-javascript{
  background: #f0db4f;
  color: #222;
}
span.tag.tag-typescript{
  background: #007acc;
  color: #fff;
}
span.tag.tag-react{
  background: #61dbfb;
  color: #000;
}
span.tag.tag-redux{
  background: #a01a7d;
  color: #fff;
}
span.tag.tag-angular{
  background: #b52e31;
  color: #fff;
}
span.tag.tag-jquery{
  background: #b961fb;
  color: #fff;
}
span.tag.tag-ui{
  background: #007acc;
  color: #fff;
}
span.tag.tag-design{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-testing{
  background: #06a700;
  color: #fff;
}
span.tag.tag-js{
  background: #06a700;
  color: #fff;
}