@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,700&display=swap');
body{
  margin:0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a.h1-logo {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.cursor{
  display: inline-block;
  width: 10px;
  height: 19px;
  background: #fe5186;
  margin-left: 4px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}
.faisal-photo{
  background-image: url('../images/logo.jpg');
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  background-size: contain;
  margin-right: 6px;
}
@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
pre {
  padding: 10px 10px;
}
code[class*="language-"] {
  background: transparent;
  box-shadow: none;
}
.center {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
span.tag {
  padding: 5px 8px;
  background: #6375ad;
  margin-right: 7px;
  color: #fff;
  border-radius: 7px;
  margin-bottom: 7px;
}
footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 0;
}
.btn-header {
  cursor: pointer;
  position: relative;
  top: 5px;
}
.post-img {
  margin-top: 25px;
  text-align: center;
}
.flex-post {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.post-item {
  width: calc(50% - 14px);
  margin: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tags {
  display: flex;
  margin-top: 15px;
  text-align: left;
  flex-wrap: wrap;
}
.post-content {
  padding: 12px;
  padding-bottom: 20px;
}

.post-content h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 23px;
}
.tags-footer {
  text-align: right;
  margin: 30px 0 20px;
  display: flex;
  flex-wrap: wrap;
}
svg#Capa_1 {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  position: relative;
  top: 2px;
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo-footer svg{
  margin:0px 5px;
  fill: #fe5186;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a.link-nav {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  position: relative;
  padding: 0 10px;
  top: -2px;
}
.right-header {
  display: flex;
  align-items: center;
}
.nav-header {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
  top: 3px;
}
.nav-header:before{
  content: '';
  position: absolute;
  right: 0;
  top: 0px;
  width: 2px;
  height: 20px;
  background-color: #e2d8d8;
}
.photo-about {
  background-image: url('../images/logo.jpg');
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  background-size: contain;
  margin-right: 6px;
}
.about-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.detail-about {
  margin-left: 15px;
}

.detail-about h4 {
  font-size: 18px;
  color: #fe5186;
  line-height: 20px;
  margin: 5px 0;
}
.about-me {
  margin-top: 20px;
}
.responsive {
  width: 100%;
  height: auto;
}
.responsive2{
  width: 100%;
  max-width: 300px;
  height: auto;
}
.logo-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.logo-contact a{
  padding:0 15px;
}
.logo-contact svg{
  fill: #fe5186; 
}
.tags-item-list {
  display: flex;
  flex-wrap: wrap;
}
svg.arrow-back {
  width: 15px;
  margin-right: 6px;
  fill: #fff;
}

a.a-return-home {
  max-width: 140px;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  background: #fe5186;
  padding: 8px;
  margin: 20px auto;
  color: #fff;
  border-radius: 20px;
}


/* Dark */
body.dark-theme {
  background-color: #292a2d;
  color: #efefef;
}
.dark-theme header{
  background:#252627;
}
.dark-theme a.h1-logo {
  color: #fff;
}

.dark-theme pre {
  background: #2f2f2f;
}
.dark-theme code[class*="language-"] {
  color: white;
}
.dark-theme footer {
  background: #252627;
}
.dark-theme header path {
  fill: #ffaa2b;
}
.dark-theme a {
  color: #fe5186;
}
.dark-theme .post-item {
  background-color: #252627;
}
.dark-theme svg#Capa_1 {
  fill: #fff;
}
.dark-theme .post-content {
  color: #fff;
}
.dark-theme .logo-footer svg:hover {
  fill: #e4d2d4;
}
.dark-theme .copyright a:hover {
  color: #e4d2d4;
}
.dark-theme a.link-nav {
  color: #ffffff;
}
.dark-theme a.link-nav:hover {
  color: #fe5186;
}
.dark-theme a.link-nav.is-active {
  color: #fe5186;
}
.dark-theme .logo-contact svg:hover {
  fill: #a7a7a7;
}
.dark-theme a.a-return-home {
  color: #fff;
}
.dark-theme a.a-return-home:hover {
  color: #252627;
  background: #efefef;
}
.dark-theme svg.arrow-back {
  fill: #fff;
}
.dark-theme a.a-return-home:hover svg {
  fill: #252627;
}


/* Light */
body.light-theme {
  background-color: #fff;
  color: #252627;
}
.light-theme header{
  background:#efefef;
}
.light-theme a.h1-logo {
  color: #252627;
}
.light-theme pre {
  background: #efefef;
}
.light-theme code[class*="language-"] {
  color: #000;
}
.light-theme .token.selector,.light-theme .token.attr-name,.light-theme .token.string,.light-theme .token.char,.light-theme .token.builtin {
  color: #97973b;
}
.light-theme footer {
  background: #efefef;
}
.light-theme a {
  color: #fe5186;
}
.light-theme .post-item {
  background-color: #efefef;
}
.light-theme svg#Capa_1 {
  fill: #252627;
}
.light-theme .post-content {
  color: #252627;
}
.light-theme .logo-footer svg:hover {
  fill: #252627;
}
.light-theme .copyright a:hover {
  color: #252627;
}
.light-theme a.link-nav {
  color: #252627;
}
.light-theme a.link-nav:hover {
  color: #fe5186;
}
.light-theme a.link-nav.is-active {
  color: #fe5186;
}
.light-theme .logo-contact svg:hover {
  fill: #252627;
}
.light-theme a.a-return-home {
  color: #fff;
}
.light-theme a.a-return-home:hover {
  color: #efefef;
  background: #252627;
}
.light-theme svg.arrow-back {
  fill: #efefef;
}


/* tags */
span.tag.tag-css{
  background: #b73aa8;
  color: #fff;
}
span.tag.tag-reactjs{
  background: #61dbfb;
  color: #000;
}
span.tag.tag-node{
  background: #68a063;
  color: #fff;
}
span.tag.tag-html{
  background: #a06e23;
  color: #fff;
}
span.tag.tag-php{
  background: #211fa9;
  color: #fff;
}
span.tag.tag-laravel{
  background: #ff2d20;
  color: #fff;
}
span.tag.tag-symfony{
  background: #7aba20;
  color: #fff;
}
span.tag.tag-gatsbyjs{
  background: #7aba20;
  color: #fff;
}
span.tag.tag-gatsby{
  background: #7aba20;
  color: #fff;
}
span.tag.tag-graphql{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-graphql{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-javascript{
  background: #f0db4f;
  color: #222;
}
span.tag.tag-typescript{
  background: #007acc;
  color: #fff;
}
span.tag.tag-react{
  background: #61dbfb;
  color: #000;
}
span.tag.tag-redux{
  background: #a01a7d;
  color: #fff;
}
span.tag.tag-angular{
  background: #b52e31;
  color: #fff;
}
span.tag.tag-jquery{
  background: #b961fb;
  color: #fff;
}
span.tag.tag-ui{
  background: #007acc;
  color: #fff;
}
span.tag.tag-netlify{
  background: #007acc;
  color: #fff;
}
span.tag.tag-design{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-contentful{
  background: #e535ab;
  color: #fff;
}
span.tag.tag-testing{
  background: #06a700;
  color: #fff;
}
span.tag.tag-js{
  background: #06a700;
  color: #fff;
}


@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-header {
    padding: 12px 15px;
  }
  h1 {
    font-size: 26px;
  }
  .post-content h2 {
    font-size: 21px;
  }
  span.tag {
    padding: 3px 5px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .post-item {
    width: calc(100% - 14px);
  }
  .post-item {
    max-width: 450px;
    margin: 10px auto;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .menu-header {
    justify-content: center;
    flex-direction: column;
  }
  footer {
    justify-content: center;
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 23px;
  }
}
@media only screen and (max-width: 400px) {
  .about-flex {
    flex-direction: column;
  }
  .detail-about {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .post-content h2 {
    font-size: 19px;
  }
  h1 {
    font-size: 21px;
  }
  .faisal-photo {
    width: 35px;
    height: 35px;
  }
}